<section class="editPost">
    <h2>Edit post</h2>
       <form id="new-post-form">
        <div class="mb-3">
            <label for="title" class="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{post.title}}">
        </div>
        <div class="mb-3">
            <label for="post_body" class="form-label">Content</label>
            <textarea name="post_body" class="form-control"  cols="30" rows="10">{{post.post_body}}</textarea>  
        </div>
        <button type="submit" class="btn btn-warning my-3">Update</button>
    </form>
        <button class="delete btn btn-danger">Delete Post</button>
</section>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>