.btn-primary {
  background-color: black !important;
  border-color: black;
  color: #fff !important;
}

a:not(.navbar-brand) {
  color: #000 !important;
  text-decoration: none !important;
}
a.btn {
  color: #fff !important;
}